# Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.tmp
*.cache
*.log
coverage.cobertura.xml
coverage.opencover.xml
*.coverage
*.coveragexml
TestResults/

# Database files
*.mdf
*.ldf

# NuGet
*.nupkg
packages/
*.snk

# Logs
*.log

## Rider / VS Code
.idea/
.vscode/

## Other
*.DS_Store